/*maps api hook container*/
.MapCanvas {
	height: 500px;
}

/*
Bubble size is determined by boxmodel elements outside the MapInfoWindow css namespace.
That's why they have such verbose classnames
*/

.MapCanvas .MapInfoWindow{
	line-height: 16px;
}

.map-bubble-text{
	margin-left: 0;
	margin-right: 0;
	min-width: 250px;
}

.map-bubble-text div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.map-bubble-place-title {
	margin:0;
}

.map-bubble-page-title {
	padding: 0;
}

.map-bubble-address {
	font-style: italic;
  	color: #666;
}

